<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app_muslim.surah_yasin">

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <application
        android:name="com.app_muslim.surah_yasin.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.activity.SplashActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            tools:ignore="LockedOrientationActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.MainQuranActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:noHistory="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.activity.OnBoardActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:noHistory="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.activity.QuranSurahActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:noHistory="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.activity.TasbeehActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:noHistory="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.activity.DeveloperAppsActivity"
            android:launchMode="singleTop"
            android:noHistory="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.activity.DhikrActivity"
            android:launchMode="singleTop"
            android:noHistory="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.activity.DhikrCompleteActivity"
            android:launchMode="singleTop"
            android:noHistory="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.activity.SurahActivity"
            android:launchMode="singleTop"
            android:noHistory="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <!-- Meta Data AdMob-->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/id_addmob" />

        <!-- Receiver -->
        <receiver
            android:name=".receiver.NotificationReceiver"
            android:enabled="true" />
    </application>
</manifest>
